<%- include('../partials/head') %>
    <%- include('../partials/header') %>
        <%- include('../partials/admin-header', { title: 'Modifier un café' }) %>

            <section class="admin-form container">
                <%- include('../partials/coffee-form', { formAction: `/admin/edit-coffee/${coffee.id}`, coffee: coffee
                    }) %>
            </section>

            <%- include('../partials/footer') %>