<!-- Section supérieure (hero) de la page -->
<%- include('partials/hero', { backgroundImage: '/images/about.webp' , title: 'Notre catalogue' ,
    titleClass: 'admin-title' }) %>


    <!-- Section Filtre et Produits -->
    <section class="filtre-et-produits">
        <!-- Filtre par catégorie -->
        <div class="filtre">
            <label for="categorie">Filtrer par catégorie :</label>
            <select id="categorie">
                <option value="">Tous les cafés</option>
                <% for (const category of categories) { %>
                    <% if (selectedCategory===category) { %>
                        <option value="<%= category %>" selected>
                            <%= category %>
                        </option>
                        <% } else { %>
                            <option value="<%= category %>">
                                <%= category %>
                            </option>
                            <% } %>
                                <% } %>
            </select>
        </div>

        <!-- Grille des produits -->

        <%- include('partials/product-grid', { coffees: coffees }) %>

            <!-- Lien pour voir tous les produits -->

            <div class="voir-tout">
                <a href="/catalogue?all=true" class="btn btn-primary">Voir tout</a>
            </div>
    </section>