<%- include('partials/head') %>
    <%- include('partials/header') %>

        <!-- Section d'illustration du produit -->

        <section class="product-illustration">
            <img src="/images/<%= coffee.reference %>.webp" alt="<%= coffee.name %>" class="product-image">
        </section>

        <!-- Section des détails du produit -->

        <section class="product-details">
            <div class="product-info">
                <p class="publication-date">Publié le <%= new Date(coffee.date_ajout).toLocaleDateString('fr-FR') %>
                </p> <!-- Remplacer par la date réelle -->
                <h1 class="product-title"> <!-- Titre du produit -->
                    <%= coffee.name %>
                </h1>
                <p class="product-description"> <!-- Description du produit -->
                    <%= coffee.description %>
                </p>
                <p class="product-reference">Réf : <%= coffee.reference %> <!-- Référence du produit -->
                </p>
                <p class="product-origin">Origine : <%= coffee.origine %> <!-- Origine du produit -->
                </p>
                <p class="product-price">Prix : <%= coffee.prix_au_kilo.toFixed(2) %> €</p>
                <!-- Prix au kilo du produit -->
                <p class="product-availability">
                    <%= coffee.disponible ? 'Disponible' : 'En rupture de stock' %> <!-- Disponibilité du produit -->
                </p>
                <a href="/catalogue" class="btn btn-primary">Catalogue</a> <!-- Lien vers le catalogue des produits -->
            </div>
        </section>

        <%- include('partials/footer') %>